# Build results
[Bb]in/
[Oo]bj/

# Visual Studio / Rider
.vs/
*.user
*.DotSettings.user
*.suo
*.userosscache
*.sln.docstates

# .NET tooling
project.lock.json
project.fragment.lock.json
artifacts/
/tools/LEPTA.Tools.SandboxTests/bin/
/tools/LEPTA.Tools.SandboxTests/obj/
/_artifacts*/
/_build*/
/_palette*/
/.idea/
/.junie/
